# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

LCDserver/LCDserver
sensors/bmp085/bmp085
sensors/bmp085/bmp085.log
sensors/co2_k30/co2_k30
sensors/sht25/sht25
sensors/sht25/sht25.log
sensors/lea-6t/lea-6t

